<div
  class="w-[98%] mx-auto bg-white rounded-3xl shadow-sm p-6 pt-[40px] pb-[70px] mb-11"
>
  <div
    class="border shadow-[0px_4px_12px_#a8d5ba] bg-[white] box-border min-w-[1088px] pt-8 pb-11 px-[22px] rounded-[30px] border-solid border-[#a8d5ba]"
  >
    <div class="flex flex-wrap gap-12">
      <!-- class="shadow-[10px_5px_12px_#a8d5ba] bg-[rgba(168,213,186,0.40)] box-border flex justify-start items-center flex-col   ml-6 pt-6 pb-9 px-[33px] rounded-[30px]" -->
      <div
        class="w-full md:w-[390px] rounded-3xl bg-[rgba(168,213,186,0.60)] h-[390px]"
      >
        <app-calender></app-calender>
      </div>

      <div class="flex flex-col flex-1 box-border">
        <!-- Confirmed Appointments Section -->
        <div class="box-border flex flex-col gap-4">
          <p class="text-xl font-bold text-right text-[#2e7d5c] h-6 m-0 p-0">
            المواعيد المؤكدة
          </p>

          <div
            class="box-border flex flex-wrap justify-start items-center gap-4 h-[150px]"
          >
            <!-- Confirmed Buttons -->
            <button class="btn-confirmed">11:00 ص</button>
            <button class="btn-confirmed">10:00 ص</button>
            <button class="btn-confirmed">09:00 ص</button>
            <button class="btn-confirmed">03:00 م</button>
            <button class="btn-confirmed">02:00 م</button>
            <button class="btn-confirmed">01:00 م</button>
            <button class="btn-confirmed">08:00 م</button>
            <button class="btn-confirmed">07:00 م</button>
            <button class="btn-confirmed">04:00 م</button>
          </div>
        </div>

        <!-- Available Appointments Section -->
        <div class="box-border flex flex-col gap-4 mt-12">
          <p class="text-xl font-bold text-right text-[#2e7d5c] h-6 m-0 p-0">
            المواعيد المتاحة
          </p>

          <div
            class="box-border flex flex-wrap justify-start items-center gap-4 h-[89px]"
          >
            <!-- Available Buttons -->
            <button class="btn-available">11:00 ص</button>
            <button class="btn-available">10:00 ص</button>
            <button class="btn-available">09:00 ص</button>
            <button class="btn-available">03:00 م</button>
            <button class="btn-available">01:00 م</button>
            <button class="btn-available">08:00 م</button>
            <button class="btn-available">07:00 م</button>
            <button class="btn-available">01:00 م</button>
            <button class="btn-available">05:00 م</button>
            <button class="btn-available">02:00 م</button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex gap-6 p-3">
      <div class="w-full md:w-1/2 mt-3">
        <h3 class="text-lg font-semibold m-3 text-primary">مواعيد اليوم</h3>
        <div class="bg-[#A8D5BA] p-6 rounded-3xl shadow-lg h-[270px]">
          <div class="space-y-4">
            <div class="flex items-center gap-4 pb-4">
              <span class="text-emerald-600">08:00</span>
              <div class="flex-1 h-px bg-gray-200"></div>
              <div class="w-8 h-8 bg-emerald-100 rounded-full"></div>
            </div>
            <div class="flex items-center gap-4 pb-4">
              <span class="text-emerald-600">09:00</span>
              <div class="flex-1 h-px bg-gray-200"></div>
              <div class="w-8 h-8 bg-emerald-100 rounded-full"></div>
            </div>
            <div class="flex items-center gap-4 pb-4">
              <span class="text-emerald-600">10:00</span>
              <div class="flex-1 h-px bg-gray-200"></div>
              <div class="w-8 h-8 bg-emerald-100 rounded-full"></div>
            </div>
            <div class="flex items-center gap-4">
              <span class="text-emerald-600">11:00</span>
              <div class="flex-1 h-px bg-gray-200"></div>
              <div class="w-8 h-8 bg-emerald-100 rounded-full"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/2 p-6 rounded-3xl flex flex-col space-y-6">
        <div class="w-full p-6 rounded-3xl bg-[#A8D5BA] flex-grow">
          <div class="flex gap-3 mb-4">
            <button class="px-3 bg-primary rounded-3xl text-white">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
            <h3 class="text-lg font-bold text-primary">الموعد القادم</h3>
          </div>
          <div class="flex gap-10 items-center">
            <div
              class="w-[60px] h-[60px] bg-emerald-100 rounded-full ml-[-20px]"
            >
              <img src="pataint-1.png" alt="" />
            </div>
            <div>
              <h2 class="font-bold text-primary">ابراهيم الدسوقى</h2>
              <span class="text-white">
                <i class="fa-regular fa-clock"></i> 08:00-09:00</span
              >
              <p class="text-primary">شخصيا</p>
            </div>
          </div>
        </div>

        <div class="w-full p-6 rounded-3xl bg-[#A8D5BA] flex-grow">
          <div class="flex items-center justify-between mb-4">
            <h3 class="text-lg font-semibold text-primary">لاغى موعد</h3>
          </div>
          <div class="flex gap-2 justify-between">
            <div class="flex">
              <div class="w-8 h-8 bg-[#E8BBF8] rounded-full ml-[-10px]">
                <img src="pataint-3.png" alt="" />
              </div>
              <div class="w-8 h-8 bg-[#BBF8F1] rounded-full ml-[-10px]">
                <img src="pataint-2.png" alt="" />
              </div>
              <div class="w-8 h-8 bg-[#E8BBF8] rounded-full ml-[-10px]">
                <img src="pataint-3.png" alt="" />
              </div>
              <div class="w-8 h-8 bg-emerald-100 rounded-full"></div>
            </div>
            <button class="px-4 py-2 bg-primary rounded-[10px] text-white">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
